.card {
    display: flex;
    align-items: center;
}

.card-img {
    flex: 1;
    height: 100%;
    object-fit: cover;
  }


td,
th {
  text-align: justify;
  vertical-align: middle;
}

.avatar {
    width: 100%; /* Чтобы изображение занимало всю ширину ячейки */
    height: auto; /* Автоматическое определение высоты, сохраняя пропорции */
    max-width: 70px; /* Опционально: максимальная ширина изображения */
  }
  