.container {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, select {
    font-size: inherit;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


.login-form {
    background: url('background.jpg') center/cover no-repeat fixed;
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input[type="checkbox"] {
    margin-right: 5px;
}

.login-form .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
